<!DOCTYPE html>
<html ng-app="bellabeaute">
    <head>
        <base href="/">
        <!-- inject:css -->
        <!-- endinject -->
    </head>
    <body>

        <div ui-view>
            <!-- header -->
            <nav class="navbar" role="navigation">
                <ul class="nav nav-tabs">
                    <li><a ui-sref="app.home">HOME</a></li>
                    <li><a ui-sref="app.photo">PHOTO</a></li>
                    <li><a ui-sref="app.products">PRODUCTS</a></li>
                    <li><a ui-sref="app.user">USER</a></li>
                </ul>
            </nav>
            <!-- content -->
            <h1>LOADING ...</h1>
        </div>
        <!-- inject:js (vendor) -->
        <!-- endinject -->

        <!-- inject:js (app) -->
        <!-- endinject -->
    </body>
</html>

